.about{
    margin: 0 10%;
    background-color: white;
    padding: 2% 5%; 
}

.avatar{
  float: right;
  width: 50%;
  margin: 4% auto;
}

.face{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 80% 0%;
  border-radius: 2px;
}
  
.biography{
  text-align: left;
  float: left;
  width: 50%;
  margin: 4% auto;
}

.biography > p{
  color: #314659;
  margin: 0
}