@import "~antd/dist/antd.css";

.content {
  text-align: center;
  color: #333;
  overflow: hidden;
  height: 100%;
}

#root{
  height: 100%;
}

.face {
  margin-top: 10%; 
}

.anticon {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 30px;
}

p {
  padding-bottom: 2.5vh;
}

img {
  border-radius: 50%;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}