/*-------------------------------*/
/* Current CSS From This Website */
/*-------------------------------*/

html,
body{
	height: 100%;
	background-color: #333;
	color: white;
	font-family: 'LiberationMonoRegular'; 
}

body{
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
a:focus,
a:hover{
	text-decoration: none;
}

/* Header CSS */
.App-header {
	background-color: #222;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 2em;
	overflow: hidden;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar li{
	display: inline;
	float: right;
	padding-right: 2em;
}

.navButton{
	color: white;
	background-color: #32cd32;
	padding-top: 1em;
	padding-left: 1em; 
	padding-bottom: 1em;
	padding-right: 1em;
}

.navButton:hover{
	background-color: #218d21;
}

/* Body CSS */
main{
	padding-top: 1em;
}

.App-intro {
	font-size: large;
	padding-bottom: 1em;
}

.IntroPage{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.Intro-Type{
	font-size: 1.5em;
	padding: 1em; 
}

.Construction{
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.Outer-Button{
	padding: 1em;
}

.Resume-Button{
	color: white;
	background-color: #4169E1;
	font-size: 1.0em;
	padding: 15px 32px;
	border: none; 
}

.Resume-Button:hover{
	background-color: rgb(45, 72, 155);
}

/* Footer CSS */
.Site{
	flex: 1 0 auto;
}

.site-footer{
	flex-shrink: 0;
	text-align: center;
	background-color: #222;
	width: 100%;
}

.icon{
	display: inline-block;
	width: 2em;
	height: 2em;
	padding: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/* 404 Page */
.Title404{
	font-size: 5em;
	text-align: center; 
}

/* About Page */
.About{
	padding-left: 3em;
	padding-right: 3em;
}

.About-title{
	padding: .25em; 
	font-size: 1.5em;
	border-bottom: solid;
	border-color: white;
}

.About-descriptor{
	padding: .25em; 
	font-size: 1.25em; 
}

.About-text{
	padding: 1em;
}