/*-------------------------------*/
/* Current CSS From This Website */
/*-------------------------------*/

html,
body{
	height: 100%;
	background-color: #333;
}

/*TODO: Uhh Extra code does what? display, min-height, flex, flex direction */
.App {
	text-align: center;
}

/*TODO: Figure out the content*/
.Content {
	flex: 1 0 auto;
	padding: var(--space) var(--space) 0;
	width: 100%;
}

.Content:after {
	content: '\00a0';
	display: block;
	margin-top: var(--space);
	height: 0;
	visibility: hidden;
}

/* Header CSS */
.App-header {
	background-color: #222;
  height: 50px;
  padding: 20px;
	color: white;
	flex: none;
}

.App-title {
  font-size: 1.5em;
}

/* Body CSS */
.App-intro {
	font-size: large;
	color: white;
}

.IntroPage{
	padding: 20px;

}

.Content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.Resume-Button{
	background-color: #4169E1;
	color:white;
	font-size: 1.0em;
	padding: 15px 32px;
	border: none; 
}

.Resume-Button:hover{
	background-color: white;
}

/* Phantom CSS */

.phantom{
	display: block;
	padding: 20px;
  height: 50px;
  width: 100%;
}

/* Footer CSS */
.site-footer{
	width: 100%;
	background-color: #222;
	padding: .25em;
	position: fixed;
	flex: none;
}

.site-footer-text{
	color: white;
}

.icon{
	display: inline-block;
	width: 2em;
	height: 2em;
	padding: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/* Links */ 
a,
a:focus,
a:hover{
	text-decoration: none;
	color: #fff;
}
