.project{
    margin: 0 4%;
    background-color: white;
    padding: 2% 5%;
    min-height: 2000px;
}

.projectCard{
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    max-width: 100%;
    border-style: solid;
    margin-bottom: 7%; 
}

.projectBody{
    text-align: left;
    margin: 7% auto 0 auto;
    padding-left: 4%;
    padding-right: 4%;
}

.projectBodyTitle{
    font-size: 3em;
}

.projectBodyContent{
    padding-bottom: 3%;
}

.projectPanel > span {
    padding: 5px;
}