.terminal{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 65%; 
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 15px;
}

.termHeader{
    background: #595959;
    color: white;
}

.termHeaderLeft{
    float: left;
    width: 33%;
    text-align: left; 
}

.termHeaderMiddle{
    float: left;
    width: 33%;
    text-align: center;
}

.termHeaderRight{
    float:  left;
    width: 33%;
    text-align: right;
}

.iconButton{
    margin: 2%;
    padding: 2%; 
    border-radius: 5px;
    background: #9a9a9a;
}

.iconButton:hover{
    background: #8f8f8f;
    transition: .5s;
}

.termTab{
    color: #bfbfbf;
    /* padding: 2px; */
}

.termTabCol{
    float: left;
    text-align: center;
    width: 50%;
    background: #8c8c8c; 
    border-style: none none solid none;
    border-color: #8c8c8c;
}

.termTabSelected{
    color: white;
    border-color: orange;
}

.termTabUnSelected:hover{
    border-color: #595959;
}

.termBody{
    background: #595959;
    text-align: left;
    padding: 2% 2% 4% 2%;
    font-size: 1.5em;
}

.user{
    color: #52c41a;
}

.location{
    color: #40a9ff;
}

.command{
    color: #73d13d;
}